body {font-family: Arial;
      margin: 0;
      height: 100%;
      overflow: hidden;
     }
header { display: flex;
        justify-content: space-between;
        align-items: center;
        background: lightpink;
        padding: 10px;
        border: 2px solid black;
       }
nav ul { display: flex;
        gap: 15px;
        list-style: none;
       }
.hero { background: pink;
       padding: 15px;
       border: 2px solid black;
     }
.hero-text {max-width: 400 px} 
button{ padding: 8px;
       background: white;
       border: none;
      }
.container { display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            padding: 10px;
            aligh-items: stretch;
           }
.box { border: 2px solid black;
      padding: 5px; 
      text-align: center;
      height: 90%;
     }
.box img { width: 100%;
         height: 100px;
         object-fit: contain;
          bacground: white;
         border: 20px solid black}
footer { display: flex;
        justify-content: space-around;
        border: 2px solid black;
        padding: 10px;
        background: lightpink;
body{ transform: scale (0.85);
     transform-origin: top left;
h1 { font-size: 18px; }
h2 { font-size: 14px; }
h3{ font-size: 13px; }
p { font-size: 11px; }
       

     
